WCFApp/ClientApp/Connected Services/ServerAppServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddValues_InputMessage">
    <wsdl:part name="parameters" element="tns:AddValues" />
  </wsdl:message>
  <wsdl:message name="IService1_AddValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SubstractValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SubstractValues" />
  </wsdl:message>
  <wsdl:message name="IService1_SubstractValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DivideValues_InputMessage">
    <wsdl:part name="parameters" element="tns:DivideValues" />
  </wsdl:message>
  <wsdl:message name="IService1_DivideValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplyValues_InputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyValues" />
  </wsdl:message>
  <wsdl:message name="IService1_MultiplyValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddValues" message="tns:IService1_AddValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddValuesResponse" message="tns:IService1_AddValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubstractValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SubstractValues" message="tns:IService1_SubstractValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SubstractValuesResponse" message="tns:IService1_SubstractValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivideValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DivideValues" message="tns:IService1_DivideValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DivideValuesResponse" message="tns:IService1_DivideValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultiplyValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MultiplyValues" message="tns:IService1_MultiplyValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiplyValuesResponse" message="tns:IService1_MultiplyValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddValues">
      <soap:operation soapAction="http://tempuri.org/IService1/AddValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubstractValues">
      <soap:operation soapAction="http://tempuri.org/IService1/SubstractValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivideValues">
      <soap:operation soapAction="http://tempuri.org/IService1/DivideValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiplyValues">
      <soap:operation soapAction="http://tempuri.org/IService1/MultiplyValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerApp/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>