WCFApp/ClientApp/Connected Services/ServerAppServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valA" type="xs:double" />
        <xs:element minOccurs="0" name="valB" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddValuesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valA" type="xs:double" />
        <xs:element minOccurs="0" name="valB" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubstractValuesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valA" type="xs:double" />
        <xs:element minOccurs="0" name="valB" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideValuesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valA" type="xs:double" />
        <xs:element minOccurs="0" name="valB" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyValuesResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>